* {
  font-family: "Segoe UI", Helvetica, Arial , sans-serif;
  font-weight: 300;
}

input {
  height: 34px;
  width: 312px;
  padding: 0 0 0 8px;
  font-size: 16px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
}

.clickable {
  cursor: pointer;
}

.searchBoxContainer {
  width: 100%;
  margin-top: 4px;
  display: flex;
  justify-content: center;
}

.resultContainer {
  position: relative;
  z-index: 1000;
  width: 100%;
  display:flex;
  justify-content: center;
}

.inline {
  display: inline-block;
}

.cardBg {
  display: block;
  margin: 0 auto;
  width: 360px;
  height: 240px;
  margin-bottom: 8px;
  background-color: #f1f8ff;
  border: 1px solid #c8e1ff;
  border-radius: 3px;
}

.result {
  border: 1px solid #d1d5da;
  box-shadow: 2px 2px 2px #d1d5da;
}

.resultRow {
  height: 56px;
  width: 320px;
  border-bottom: solid #d1d5da 1px;
  color: #6a737d;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.avatar {
  margin: 0 8px 0 8px;
}

.placeholder {
  color: #6a737d;
  display: flex;
  align-items: center;
  justify-content: center;
}
