h1 {
  font-family: "Segoe UI", Helvetica, Arial , sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #333;
  text-align: center;
  text-shadow: none;
}

img {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
